body{
    font-size: 0.9em;
    line-height: 0.6em;
}
ion-list{
    right:0;
}
ion-item{
    right:0;
    margin: 8px !important;
    border-color: transparent;
    box-shadow: 0px 1px 0px 0 #eaeaea !important;
    padding: 0px !important;
}
.cell{
    background-color: white !important;
    margin: 8px !important;
    border-color: transparent;
    box-shadow: 0px 1px 0px 0 #eaeaea !important;
}
ion-header-bar{
    background-color: #FAFAFA !important;
    background-image: none !important;
    border: 0 !important;
    box-shadow: 0px 1px 0px 0 #a3a3a3 !important;
}
ion-content{
    background-color: #FAFAFA !important;
}
.cell-item{
    background-color: white !important;
}
.bar > h1 {
    color: black !important;
}
hr{
    border: 1px solid #a3a3a3 !important;
    margin: 8px !important;
}

.item-content{
    padding:0px !important;
}
.margin-sm{
    margin: 8px;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

.black-xl{
    font-size: 1.0em;
    color: black;
}
.grey-lg{
    font-size: 0.9em;
    color: #7A7A7A;
}
.grey-md{
    font-size: 0.8em;
    color: #7A7A7A;
}
.grey-thin-md{
    font-size: 0.8em;
    color: #7A7A7A;
}
.grey-sm{
    font-size: 0.7em;
    color: #7A7A7A;
}
.white-medium-lg{
    font-size: 0.9em;
    color: white;
}
.white-thin-lg{
    font-size: 0.9em;
    color: white;
}
body,
.black-xl,
.grey-lg,
.grey-md,
.grey-sm
{
    font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important;
    font-weight:normal !important;
    font-stretch:normal;
}

.white-medium-lg
{
    font-family: "HelveticaNeueMedium", "HelveticaNeue-Medium", "Helvetica Neue Medium", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif !important;
    font-weight:bold !important;
    font-stretch:normal;
}

.grey-thin-md,
.white-thin-lg
{
    font-family: "HelveticaNeueThin", "HelveticaNeue-Thin", "Helvetica Neue Thin", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif !important;
    font-weight:lighter !important;
    font-stretch:normal;
}

.profile-container {
    position: relative;
    width: 100%;
    overflow: hidden; // Hide overflow to contain the background
}
.profile-container__background {
    position: absolute;
    top: -50%;
    left: -5%;
    width: 110%;
    // Where the magic happens
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.profile-container__profile {
    position: relative;
}


.spacer-sm{
    width: 8px;
}


.float{
    position:absolute;
}

.blurred-container {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.4;
}

.col.no-background, .row.no-background{
    background-color: rgba(255,255,255,0.65) !important;
    color: black;
}

.no-background *{
    background-color: rgba(255,255,255,0.5);
}
.item.item-trns {
    float:top;
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: black;
    width:100%;
}

.item.item-trns *{
    border-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    color: black;
}

.fake-list{
    width:100%;
}

.inline-list{
    display:inline;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.float-bottom{
    position:absolute; bottom:0;
}

.menu-map *{
    background-color:transparent !important;
    font-size:100%;
}

.menu-map{
    background-color:rgba(240,240,240,0.8);
    padding:10px;
    width:100%;
    z-index:10;
}

.menu-map .middle {
    margin-left: 31%;
    margin-right: 20.5%;
}

.circular-day{
    width: 36px;
    height: 36px;
    max-width:45px;
    max-height: 45px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-style:solid;
    border-color:rgba(60,60,60,0.8  );
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color:#525252;
    background-color: #EEECE7 !important;
    margin:5px;

    line-height: 1.1em;
}

.circular-day.active{
    background-color: #037AFF !important;
    color:white;
}

.circular img {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
}

.circle-blue{
    border-radius:50%;
    width:40px;
    height:40px;
    border:1px solid #037aff;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.search-icon {
    width:20px;
    height:20px;
}

.green{
    background-color: #add99e !important;
}
.orange{
    background-color: #ead792 !important;
}
.red{
    background-color: #ecb09b !important;
}

.star{
    width:10px;
    height:10px;
}