
<ion-item ng-href="#/app/rate/{{item.id}}">
    <div class="row cell-item">
        <div class="col-10">
            <div class="row-center">
                <div class="col text-center">
                    <img class="search-icon" src="img/{{item.icon}}.png" />
                </div>
            </div>
            <div class="row-center">
                <div class="col text-center grey-md">
                    +{{item.credits}}
                </div>
            </div>
        </div>
        <div class="col-67">
            <div class="row">
                <div class="col">
                    <span class="black-xl">{{item.name}}</span> <span class="grey-thin-md">Q ~ {{item.queue}}min</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span class="grey-md">{{item.category}}</span> <span class="grey-sm">({{item.place}})</span>
                </div>
            </div>
        </div>
        <div class="col" ng-if="item.distance">
            <div class="row row-center text-right">
                <span class="spacer-sm"></span>
                <span class="grey-thin-md">{{item.distance}}
                <span class="spacer-sm"></span>
                <i class="icon ion-chevron-right"></i></span>
            </div>
        </div>
    </div>
</ion-item>
<div ng-if="item.hr">
<hr/>
</div>
