<ion-view view-title="mapView" class="no-background">
    <ion-header-bar align-title="center" class="bar-stable " id="navbar-map">
        <div class="buttons">
            <a ng-href="#/app/profile"><button class="button button-icon"> <i class="icon ion-chevron-left"></i></button></a>
        </div>
        <h1 class="title"> {{commerce.name}}</h1>
        <div class="buttons">
            <a ng-href="#/app/profile"><button class="button button-icon"> <i class="icon ion-chevron-right"></i></button></a>
        </div>
    </ion-header-bar>
    <ion-content data-tap-disabled="true" class="has-header">


        <div class="float menu-map text-center" id="menuMap">

            <div class="float-right grey-thin-md">
                {{commerce.distancePlace}}
            </div>
            <div class="float-left middle black-thin-md">
                <b>{{ commerce.type}} </b> <br/> <br/>
                Q = {{ commerce.attente}} '
            </div>

        </div>

        <div class="float-bottom menu-map text-center">
            <div class="grey-thin-md">
                {{ commerce.adresse }} , {{ commerce.ville}}
            </div>
            <br/>
            <div>
                {{ actualMonth }}
            </div>
            <br/>
            <div class="vertical-list text-center">
                <button class="circular-day" ng-repeat="day in days" ng-class="{active: $first}" id="daySelect{{day.number}}" ng-click="onDaySelectClick(day.number)">
                       <span class="text-center"> &nbsp;{{ day.name | limitTo:1 }} </span> <br/>
                        <span class="text-center"> {{ day.number }} </span>
                </button>

        </div>
            <div>
                <canvas id="myChart"></canvas>
            </div>
            </div>

        <leaflet defaults="map.defaults" center="map.center" markers="map.markers" ng-if="map" height="{{ mapHeight }}"></leaflet>
    </ion-content>
</ion-view>