<ion-view view-title="Profile">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <a ng-href="#/app/search"><button class="button"><i class="icon ion-chevron-left"></i> Recherche</button></a>
        </div>
        <h1 class="title">Votre profil</h1>
        <div class="buttons">
            <a ng-href="#/app"><button class="button">Login</button></a>
        </div>
    </ion-header-bar>
    <ion-content class="has-header">
        <div class="profile-container">
            <img class="row profile-container__background" src="img/avatar.png"/>
            <div class="row profile-container__profile">
                <div class="col">
                    <div class="row">
                        <div class="col">
                            <span class="white-medium-lg">Niveau Q</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="white-thin-lg">Débutant</span>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <div class="col">
                            <span class="white-medium-lg">Crédits</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <span class="white-thin-lg">153c</span>
                        </div>
                    </div>
                </div>

                <div class="col text-center">
                    <div class="circular" style="background: url('../img/avatar.png') no-repeat;">
                        <img src="img/avatar.png"/>
                    </div>
                </div>

                <div class="col">
                    <div class="row">
                        <div class="col text-right">
                            <span class="white-medium-lg">Feedback</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <span class="white-thin-lg">35</span>
                        </div>
                    </div>
                    <br/><br/>
                    <div class="row">
                        <div class="col text-right">
                            <span class="white-medium-lg">Trophées</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col text-right">
                            <span class="white-thin-lg">3</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br/>
        <div class="row">
            <div class="col">
                <span class="grey-md">Vos trophées</span>
            </div>
        </div>



        <ion-list>
            <ng-include src="'templates/cell-achievement.html'" ng-repeat="item in achievements">

            </ng-include>
        </ion-list>

    </ion-content>
</ion-view>