<ion-view view-title="Profile">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <a ng-href="#/app/search"><button class="button"><i class="icon ion-chevron-left"></i> Recherche</button></a>
        </div>
        <h1 class="title">Votre profil</h1>
        <div class="buttons">
            <a ng-href="#/app"><button class="button">Login</button></a>
        </div>
    </ion-header-bar>
    <ion-content>
        Some content!
    </ion-content>
</ion-view>