<ion-view view-title="Rate">
  <ion-content>
      <div class="rate_container">
          <h3 class="text-center"> Votre satisfaction : </h3>
          <!--<div class="emoticons-group">
              <img src="img/sad.png" id="sadIcon"/>
              <img src="img/neutral.png" id="neutralIcon"/>
              <img src="img/happy.png" id="happyIcon"/>
          </div>
          <div class="slider-container">
              <p>
                  <label for="time">Temps d'attente :</label>
                  <span id="time"> </span>
              </p>
              <div>
                  <div id="slider" style="width:400px;" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
                      <a class="ui-slider-handle ui-state-default ui-corner-all" style="left: 20%;"></a>
                  </div>-->
                  <div class="input-group clockpicker">
                      <input type="text" class="form-control" value="09:30">
                  </div>
              <!--</div>
          </div>-->
      </div>
  </ion-content>
</ion-view>