<ion-view view-title="Search">
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Recherche</h1>
        <div class="buttons">
            <a ng-href="#/app/profile"><button class="button">Profil <i class="icon ion-chevron-right"></i></button></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <br/>
        <span class="grey-lg" style="margin-left:8px;">Feedback</span>

        <ion-list>
            <ng-include src="'templates/cell-search.html'" ng-repeat="item in items" ng-if="item.idPlace == 1">
            </ng-include>
        </ion-list>

        <span class="grey-lg" style="margin-left:8px;">Quête du jour</span>
        <div style="position: absolute; margin-left:4px; margin-top:4px; z-index:100;">
            <img class="star" src="img/star.png" />
        </div>
        <ion-list>
            <ng-include src="'templates/cell-search.html'" ng-repeat="item in items" ng-if="item.idPlace == 2">
            </ng-include>
        </ion-list>

        <span class="grey-lg" style="margin-left:8px;">A proximité</span>
        <ion-list>
            <ng-include src="'templates/cell-search.html'" ng-repeat="item in items" ng-if="item.idPlace > 2">
            </ng-include>
        </ion-list>
    </ion-content>
</ion-view>