<ion-view view-title="Search">
    <ion-header-bar align-title="center" class="bar-positive">
        <h1 class="title">Recherche</h1>
        <div class="buttons">
            <a ng-href="#/app/profile"><button class="button">Profil <i class="icon ion-chevron-right"></i></button></a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col text-center grey-lg">
               Quête de la journée:
            </div>
        </div>
        <ion-list>
            <ng-include src="'templates/cell.html'" ng-repeat="item in items">
            </ng-include>
        </ion-list>
    </ion-content>
</ion-view>